<section [@animateStagger]="{ value: '100' }" class="to-do-container">
  <div class="list-search">
    <div
      [@animate]="{ value: '*', params: { y: '40px', delay: '150ms' } }"
      class="search-container flex flex-row justify-between items-center"
    >
      <input
        [formControl]="search"
        [placeholder]="'search' | translate"
        class="flex-1"
        type="text"
      />
      <img src="../../../assets/icons/search-icon.svg" alt="search" />
    </div>

    <div
      [@animate]="{ value: '*', params: { y: '-80px', delay: '200ms' } }"
      class="list flex flex-col justify-between items-stretch"
    >
      <div class="flex flex-col justify-start items-stretch">
        <date />

        <div class="flex flex-col justify-start items-stretch" style="gap: 5px">
          <ng-container *ngIf="todoListFormArray?.controls?.length">
            <ng-container
              *ngFor="
                let todoForm of (todoListFormArray | search : search.value)
                  ?.controls;
                let index = index
              "
            >
              <todo-form-group
                [todoForm]="todoForm"
                (onDeleteTodo)="onDeleteTodo(todoForm)"
              />
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="add-btn flex justify-center items-center">
        <button class="flex justify-center items-center" (click)="onAddTodo()">
          <img src="../../../assets/icons/add-svgrepo.svg" alt="add-todo" />
        </button>
      </div>
    </div>
  </div>
</section>
