@font-face {
  font-family: "serif";
  src: url("../assets/fonts/jzoor/JF-Flat-regular.ttf");
}

:root {
  --nav-bg: #f8f8f8;
  --nav-border: #d3d3d3;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-content-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col-stretch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
